# Ignore environment files (sensitive info)
.env

# Ignore Python virtual environment
venv/
__pycache__/

# Ignore compiled Python files
*.pyc
*.pyo
*.pyd

# Ignore logs
*.log
logs/

# Ignore database files (if any)
*.sqlite3
db.sqlite3

# Ignore IDE/editor files
.vscode/
.idea/

# macOS system file
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python build/dist files
build/
dist/
*.egg-info/

# Pytest cache
.pytest_cache/


#model
/xgboost_model.json
